{% extends 'homebase.html.twig' %}
{% block title %}{% endblock %}
{% block keywords%}{% endblock %}
{% block description%}{% endblock %}
{% block body %}


	<!--=== page-title-section start ===-->
	<section class="title-hero-bg contact-cover-bg" data-stellar-background-ratio="0.2">
		<div class="container">
			<div class="page-title text-center">
				<h1>Contact Us</h1>
				<h4 class="text-uppercase mt-30 white-color">Customer Support 24 Hours</h4>
			</div>
		</div>
	</section>
	<!--=== page-title-section end ===-->

	{% for message in app.flashes('message') %}
		<div class="alert alert-success" role="alert">
			{{ message }}
		</div>
	{% endfor %}
	<!--=== Contact Us Start ======-->
	<section class="contact-us white-bg" id="contact">
		<div class="container">
			<div class="clearfix">
				<div class="col-about-left col-md-6 text-left">
					<h2 class="merriweather-font">Get in Touch</h2>
					<h4 class="text-uppercase source-font">Find your brand's voice</h4>
					{{ form_start(contactForm,  {'attr': {'class': 'mt-50'}}) }}
						<div class="messages"></div>
						<div class="form-group">
							<label class="sr-only" for="name">Name</label>
							{{ form_row(contactForm.nom, {'attr': {'class': 'form-control'}})  }}
							<div class="help-block with-errors mt-20"></div>
						</div>
						<div class="form-group">
							<label class="sr-only" for="email">Email</label>
							{{ form_row(contactForm.email,  {'attr': {'class': 'form-control'}}) }}
							<div class="help-block with-errors mt-20"></div>
						</div>
						<div class="form-group">
							<label class="sr-only" for="message">Message</label>
							{{ form_row(contactForm.message ,  {'attr': {'class': 'form-control'}}) }}
							<div class="help-block with-errors mt-20"></div>
						</div>
					{{ form_row(contactForm.envoyer, {'attr': {'class': 'btn btn-color btn-circle'}}) }}
					{{ form_end(contactForm,  {'attr': {'class': 'mt-50'}}) }}
				</div>
			</div>
		</div>
	</section>
	<section class="p-0">
		<div class="container-fluid">
			<div class="row row-flex">
				<div class="col-md-4">
					<div class="col-inner spacer dark-bg">
						<div class="text-center white-color"> <i class="mdi mdi-map-marker font-50px white-icon"></i>
							<h3>Office Address</h3>
							<p>Downtown Tunis, <br>
								ON Mohamed V, Tunisie</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="col-inner spacer blue-bg">
						<div class="text-center white-color"> <i class="mdi mdi-email font-50px white-icon"></i>
							<h3>Email Us</h3>
							<p class="mb-0">smartpanel@gmail.com</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="col-inner spacer dark-bg">
						<div class="text-center white-color"> <i class="mdi mdi-cellphone font-50px white-icon"></i>
							<h3>Call Us</h3>
							<p class="mb-0">(+216) 71 555 105</p>
							<p>(+216) 21 555 105</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--=== Contact Us End ======-->

	<!--=== Clients Start ======-->
	<section class="pt-50 pb-50 white-bg">
		<div class="container">
			<div class="row">
				<div id="client-slider" class="owl-carousel">
					<div class="client-logo"> <img class="img-responsive" src="assets/images/clients/1.png" alt="01"/> </div>
					<div class="client-logo"> <img class="img-responsive" src="assets/images/clients/2.png" alt="02"/> </div>
					<div class="client-logo"> <img class="img-responsive" src="assets/images/clients/3.png" alt="03"/> </div>
					<div class="client-logo"> <img class="img-responsive" src="assets/images/clients/4.png" alt="04"/> </div>
					<div class="client-logo"> <img class="img-responsive" src="assets/images/clients/5.png" alt="05"/> </div>
					<div class="client-logo"> <img class="img-responsive" src="assets/images/clients/6.png" alt="06"/> </div>
					<div class="client-logo"> <img class="img-responsive" src="assets/images/clients/7.png" alt="07"/> </div>
					<div class="client-logo"> <img class="img-responsive" src="assets/images/clients/8.png" alt="08"/> </div>
					<div class="client-logo"> <img class="img-responsive" src="assets/images/clients/9.png" alt="09"/> </div>
					<div class="client-logo"> <img class="img-responsive" src="assets/images/clients/10.png" alt="10"/> </div>
				</div>
			</div>
		</div>
	</section>
	<!--=== Clients End ======-->

	<!--=== GO TO TOP  ===-->
	<a href="#" id="back-to-top" title="Back to top">&uarr;</a>
	<!--=== GO TO TOP End ===-->

	</div>
	<!--=== Wrapper End ======-->

{% endblock %}
